<template>
  <div style="margin: auto auto; max-width: 40em;">
    <Intro />
    <Loading :loading="loadingFlipstarters" :error="error">
      <div>
        <h2>Active flipstarters</h2>
        <router-link to="/active">(View All)</router-link>
          <div v-for="flipstarter of running.slice().reverse().slice(0, show.running)"
            :key="flipstarter.name" style="max-width: 40em; margin: auto auto;">
            <CampaignJumbotron :f=flipstarter />
          </div>
      </div>
      <div>
        <h2 v-if="upcoming.length">Upcoming flipstarters</h2>
        <div v-for="flipstarter of upcoming"
          :key="flipstarter.name"
          style="max-width: 40em; margin: auto auto;">
          <CampaignJumbotron :f=flipstarter />
        </div>
      </div>
      <div>
        <h2>Completed flipstarters</h2>
        <router-link to="/completed">(View All)</router-link>
          <div v-for="flipstarter of completed.slice().reverse().slice(0, show.completed)"
            :key="flipstarter.name" style="max-width: 40em; margin: auto auto;">
            <CampaignJumbotron :f=flipstarter />
          </div>
      </div>
    </Loading>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
// import flipstarters from '@/flipstarters.json';
import { getFlipstarters } from '@/flipstarter';
import CampaignJumbotron from '@/components/CampaignJumbotron.vue';
import Intro from '@/components/Intro.vue';
import Loading from '@/components/Loading.vue';

Vue.filter('status', (status: string) => {
  //
  const uppercaseFirst = status.charAt(0).toUpperCase() + status.slice(1);
  return `Status: ${uppercaseFirst}`;
});

@Component({
  components: {
    CampaignJumbotron,
    Intro,
    Loading,
  },
})
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;

  private loadingFlipstarters = true;

  private error = '';

  show = {
    completed: 3,
    running: 15,
  }

  // eslint-disable-next-line
  flipstarters: any = [];

  get running() {
    if (this.flipstarters) {
      return this.flipstarters.filter((f: { status: string }) => f.status === 'running');
    }
    return [];
  }

  get completed() {
    if (this.flipstarters) {
      return this.flipstarters.filter((f: { status: string }) => {
        const s = f.status;
        return s === 'success' || s === 'expired';
      });
    }
    return [];
  }

  get upcoming() {
    if (this.flipstarters) {
      return this.flipstarters.filter((f: { status: string }) => f.status === 'upcoming');
    }
    return [];
  }

  created() {
    // eslint-disable-next-line
    getFlipstarters().then((data: any) => {
      this.flipstarters = data;
    }).catch((error) => {
      this.error = error.message;
    }).then(() => {
      this.loadingFlipstarters = false;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #42b983;
}
h2 {
  display: inline;
  margin-right: .25em;
}

.loading {
  margin-left: calc(50% - 4em);
  height: 4em;
  width: 4em;
}
</style>
