<template>
  <div v-if="loading">
    <h3>Loading...</h3><br/>
    <b-spinner
      class="loading"
      type="grow"
      label="Submitting"
    />
  </div>
  <div v-else-if="error !== ''">
    <h3 class="error">Error: {{ error }}</h3>
  </div>
  <div v-else>
    <slot/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Loading extends Vue {
  @Prop(Boolean) readonly loading: boolean = true;

  @Prop(String) readonly error: string = '';
}
</script>

<style scoped lang="scss">
.error {
  color: red;
  font-weight: 600;
}
</style>
