<template>
  <div id="app">
    <b-navbar style="margin: auto auto; max-width: 45em;">
      <b-navbar-brand to="/">Flipstarters</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/active">Active flipstarters</b-nav-item>
          <b-nav-item to="/completed">Completed flipstarters</b-nav-item>
          <b-nav-item
            v-if="submitActive"
            to="/submit"
          >
            Submit flipstarter
          </b-nav-item>
          <b-nav-item to="/about">About this page</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class App extends Vue {
  private submitActive = process.env.VUE_APP_USE_FLIPSTARTER_DIRECTORY === 'yes';
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 1em;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
